@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html{
  scroll-behavior: smooth;
}
body {
  background: #000;
  overflow: auto;
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-image: url(image/hi.jpg);
  background-position: center;
}
nav {
  position: fixed;
  padding: 25px;
  z-index: 1;
}
nav img {
  width: 160px;
}
.form-wrapper {
  position: absolute;
  width: 430px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.75);
  padding: 60px;
}

.form-wrapper h2 {
  color: #fff;
  font-size: 2rem;
}
.form-wrapper form {
  margin: 25px 0 65px;
}
form .form-container {
  position: relative;
  height: 50px;
  margin-bottom: 15px;
}

.form-container input {
  height: 100%;
  width: 100%;
  background: #333;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 0 20px;
}
.form-container input:is(:focus, :valid){
    padding: 16px 20px 0;
    background: #444;
}
.form-container label {
  position: absolute;
  left: 20px;
  top: 50%;
  color: #8c8c8c;
  pointer-events: none;
  font-size: 1rem;
  transform: translateY(-50%);
  transition: all 0.1s ease;
}
.form-container input:is(:focus, :valid) ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}
form button{
    width:100%;
    padding:16px 0;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius:4px;
    background: #e50914;
    margin: 25px 0 10px;
    transition: all 0.1s ease;
}
form button:hover{
    background: #c40812;
}
form .form-help{
    display: flex;
    justify-content: space-between;
}
form .remember-me{
    display: flex;
}
form .remember-me input{
    margin-right: 5px;
    accent-color: #b3b3b3;
}
 form .form-help :where(label, a){
    font-size: 0.9rem;
}
.form-wrapper :where(label, p, small, a){
    color: #b3b3b3;
}
.form-wrapper p a {
    color:#fff;
}
.form-wrapper small{
    display: block;
    margin-top: 15px;
}
.form-wrapper small a{
    color:#0072eb;
}
.form-wrapper a{
    text-decoration: none;
}
.form-wrapper a:hover{
    text-decoration: underline;
}

@media(max-width:740px){
    body::before{
        display: none;
    }
    nav, .form-wrapper{
        padding:20px;
    }
    nav a img{
        width:140px;
    }
    .form-wrapper{
        top:43%;
        width: 100%;
    }
    .form-wrapper form{
        margin:25px 0 40px;
    }
}
footer{
   position: relative;
  bottom: 0%;
}


